.transicion{
    background-image: url(/src/img/transicion.webp);
    background-size: cover;
    display: flex;
    height: 34rem;
}

.transicion-dos{
    background-image: url(/src/img/banner-1.webp);
}